<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>403191865173-u2031hq2bg0ksv7l02ne45oi727k666u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.403191865173-u2031hq2bg0ksv7l02ne45oi727k666u</string>
	<key>API_KEY</key>
	<string>AIzaSyAsyh7ThYUd6GjhH6eCVOzs9tLUjZohcXY</string>
	<key>GCM_SENDER_ID</key>
	<string>403191865173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerceShoppingApp</string>
	<key>PROJECT_ID</key>
	<string>e-commerce-77b18</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerce-77b18.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:403191865173:ios:c5ff43877a278a4c0999dc</string>
</dict>
</plist>